In [2]:
import numpy as np

In [3]:
a = np.array([4, 10, 12, 23, -2, -1, 0, 0, 0, -6, 3, -7])

In [4]:
# 1. How many negative numbers are there?
a[a < 0].size

4

In [5]:
# 2. How many positive numbers are there?
a[a > 0].size

5

In [6]:
# 3. How many even positive numbers are there?
a[(a % 2 == 0) & (a > 0)].size

3

In [7]:
# 4. If you were to add 3 to each data point, how many positive 
# numbers would there be?
array_with_three_added = a + 3
array_with_three_added[array_with_three_added > 0].size

10

In [8]:
# 5. If you squared each number, what would the new mean and standard 
# deviation be?
squared = a ** 2
print(f"Mean: {squared.mean()}")
print(f"Standard Deviation: {squared.std()}"")

SyntaxError: EOL while scanning string literal (2346905611.py, line 5)

In [ ]:
# 6. 
centered = a - a.mean()
centered
centered.mean()

In [ ]:
# 7. Calculate the z-score for each data point. 
zscores = (a - a.mean()) / a.std()
zscores

In [ ]:
# 8.Copy the setup and exercise directions from More Numpy Practice 
# into your numpy_exercises.py and add your solutions.
## Setup 1
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


# Use python's built in functionality/operators to determine the 
# following:

In [ ]:
# Exercise 1 - Make a variable called sum_of_a to hold the sum of all 
# the numbers in above list
sum_of_a = sum(a)
sum_of_a

In [ ]:
# Exercise 2 - Make a variable named min_of_a to hold the minimum of 
# all the numbers in the above list
min_of_a = min(a)
min_of_a

In [ ]:
# Exercise 3 - Make a variable named max_of_a to hold the max number 
# of all the numbers in the above list
max_of_a = max(a)
max_of_a

In [9]:
# Exercise 4 - Make a variable named mean_of_a to hold the average 
# of all the numbers in the above list
mean_of_a = sum(a) / len(a)
mean_of_a

3.0

In [10]:
# Exercise 5 - Make a variable named product_of_a to hold the product 
# of multiplying all the numbers in the above list together
product_of_a = 1
for n in a:
    product_of_a = product_of_a * n
product_of_a

0

In [11]:
# Exercise 6 - Make a variable named squares_of_a. It should hold each 
# number in a squared like [1, 4, 9, 16, 25...]
squares_of_a = [n ** 2 for n in a]
squares_of_a

[16, 100, 144, 529, 4, 1, 0, 0, 0, 36, 9, 49]

In [12]:
# Exercise 7 - Make a variable named odds_in_a. It should hold only
# the odd numbers
odds_in_a = [n for n in a if n % 2 != 0]
odds_in_a

[23, -1, 3, -7]

In [13]:
# Exercise 8 - Make a variable named evens_in_a. It should hold only 
# the evens.
evens_in_a = [n for n in a if n % 2 == 0]
evens_in_a

[4, 10, 12, -2, 0, 0, 0, -6]

In [25]:
## What about life in two dimensions? A list of lists is matrix, a 
# table, a spreadsheet, a chessboard...
## Setup 2: Consider what it would take to find the sum, min, max, 
# average, sum, product, and list of squares for this list of two lists.
b = [
    [3, 4, 5],
    [6, 7, 8]
    
]
b = np.array(b)
b

array([[3, 4, 5],
       [6, 7, 8]])

In [26]:
# Exercises 1, 2, 3, 4, 5, 7, 8
numpy_way = {
    "Exercise 1 - sum": b.sum(),
    "Exercise 2 - min": b.min(),
    "Exercise 3 - max": b.max(),
    "Exercise 4 - mean": b.mean(),
    "Exercise 5 - product": b.prod(),
    "Exercise 6 - list of squares": b**2,
    "Exercise 7 - odds only": b[b % 2 == 1],
    "Exercise 8 - evens only": b[b % 2 == 0]
}
numpy_way

{'Exercise 1 - sum': 33,
 'Exercise 2 - min': 3,
 'Exercise 3 - max': 8,
 'Exercise 4 - mean': 5.5,
 'Exercise 5 - product': 20160,
 'Exercise 6 - list of squares': array([[ 9, 16, 25],
        [36, 49, 64]]),
 'Exercise 7 - odds only': array([3, 5, 7]),
 'Exercise 8 - evens only': array([4, 6, 8])}

In [27]:
# Exercise 9 - print out the shape of the array b.
b.shape

(2, 3)

In [28]:
# Exercise 10 - transpose the array b.
b.T

array([[3, 6],
       [4, 7],
       [5, 8]])

In [29]:
# Exercise 11 - reshape the array b to be a single list of 6 numbers. (1 x 6)
b.flatten()

array([3, 4, 5, 6, 7, 8])

In [30]:
## Setup 3
c = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

c = np.array(c)
c

# HINT, you'll first need to make sure that the "c" variable is a 
# numpy array prior to using numpy array methods.

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [31]:
# Exercise 1 - Find the min, max, sum, and product of c.
{
    "sum": c.sum(),
    "min": c.min(),
    "max": c.max(),
    "mean": c.mean(),
    "product": c.prod()
}

{'sum': 45, 'min': 1, 'max': 9, 'mean': 5.0, 'product': 362880}

In [32]:
# Exercise 2 - Determine the standard deviation of c.
c.std()

2.581988897471611

In [33]:
# # Exercise 3 - Determine the variance of c.
c.var()

6.666666666666667

In [34]:
# Exercise 4 - Print out the shape of the array c
c.shape

(3, 3)

In [35]:
# Exercise 5 - Transpose c and print out transposed result.
np.transpose(c)
#c.T

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [38]:
# Exercise 6 - Get the dot product of the array c with c. 
np.dot(c, c)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

In [42]:
# Exercise 7 - Write the code necessary to sum up the result of c 
# times c transposed. Answer should be 261
(c * c.T).sum()

261

In [43]:
# Exercise 8 - Write the code necessary to determine the product of c 
# times c transposed. Answer should be 131681894400
(c * c.T).prod()

131681894400

In [44]:
## Setup 4
d = [
    [90, 30, 45, 0, 120, 180],
    [45, -90, -30, 270, 90, 0],
    [60, 45, -45, 90, -45, 180]
]

d = np.array(d)









# Exercise 8 - Print out the shape of d.

# Exercise 9 - Transpose and then print out the shape of d.

# Exercise 10 - Reshape d into an array of 9 x 2

In [46]:
# Exercise 1 - Find the sine of all the numbers in d
np.sin(d)

array([[ 0.89399666, -0.98803162,  0.85090352,  0.        ,  0.58061118,
        -0.80115264],
       [ 0.85090352, -0.89399666,  0.98803162, -0.17604595,  0.89399666,
         0.        ],
       [-0.30481062,  0.85090352, -0.85090352,  0.89399666, -0.85090352,
        -0.80115264]])

In [47]:
# Exercise 2 - Find the cosine of all the numbers in d
np.cos(d)

array([[-0.44807362,  0.15425145,  0.52532199,  1.        ,  0.81418097,
        -0.59846007],
       [ 0.52532199, -0.44807362,  0.15425145,  0.98438195, -0.44807362,
         1.        ],
       [-0.95241298,  0.52532199,  0.52532199, -0.44807362,  0.52532199,
        -0.59846007]])

In [48]:
# Exercise 3 - Find the tangent of all the numbers in d
np.tan(d)

array([[-1.99520041, -6.4053312 ,  1.61977519,  0.        ,  0.71312301,
         1.33869021],
       [ 1.61977519,  1.99520041,  6.4053312 , -0.17883906, -1.99520041,
         0.        ],
       [ 0.32004039,  1.61977519, -1.61977519, -1.99520041, -1.61977519,
         1.33869021]])

In [49]:
# Exercise 4 - Find all the negative numbers in d
d[d < 0]

array([-90, -30, -45, -45])

In [50]:
# Exercise 5 - Find all the positive numbers in d
d[d > 0]

array([ 90,  30,  45, 120, 180,  45, 270,  90,  60,  45,  90, 180])

In [51]:
# Exercise 6 - Return an array of only the unique numbers in d.
np.unique(d)

array([-90, -45, -30,   0,  30,  45,  60,  90, 120, 180, 270])

In [52]:
# Exercise 7 - Determine how many unique numbers there are in d.
np.unique(d).size

11